#user {
    background: #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

#loadPosts {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
}

#posts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.post {
    background: #eee;
    padding: 10px;
}